<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" href= "style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Shad Kothon</title>
</head>
<body>
    <div class = "grid-container">
        <header class = "row">
           <div class ="brand">
               <button onclick="openMenu()">
                   &#9776;
               </button>
               <a href="index.html"> Shad Kothon</a>
           </div>
           <div class="header-links">
               <a href="cart.html">Cart</a>
               <a href="signin.html">Sign In</a>
           </div>
        </header>
        <aside class="sidebar">
            <h1>Food Categories</h1>
            <button class="sidebar-close-button" onclick="closeMenu()">x</button>
            <ul class="category">
                <li class="appetize">
                    <a href="index.html">Appetizers</a>
                </li>
                <li>
                    <a href="index.html">Desserts</a>
                </li>
                <li class="entrees">
                    <a href="index.html">Entrees</a>
                </li>
            </ul>

        </aside>
        <main>
            <div class="logo-section">
                <div id="logo">
                    <a href="https://www.shadkothan.com"> <img class="logo" src="images/ShadKothon_Logo.jpg" alt="Logo" /></a>
                </div>
                <div class="dropdown">
                  <button onClick={myFunction} class="dropbtn">Food Categories <i class="fa fa-caret-down" aria-hidden="true"></i></button>
                  <div id="myDropdown" class="dropdown-content">
                    <a href="index.html">Appetizers</a>
                    <a href="index.html">Desserts</a>
                    <a href="index.html">Entrees</a>
                  </div>
                </div>
              </div>
            <div class="row center">
                <div class="card">
                    <a href="product.html">
                        <img class="product-image" src="images/chanar_shondesh.jpg" alt="chanar_shondesh"/>
                    </a>
                    <div class="card-body">
                        <a href="product.html"> 
                            <h1>Chanar Shondesh</h1>
                        </a>
                        <div class="rating">
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>      
                       </div>
                        <div class="price">
                           Price $50.00
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <img class="product-image" src="images/chanar_shondesh.jpg" alt="chanar_shondesh"/>
                    </a>
                    <div class="card-body">
                        <a href="product.html"> 
                            <h1>Chanar Shondesh</h1>
                        </a>
                        <div class="rating">
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>      
                       </div>
                        <div class="price">
                           Price $50.00
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <img class="product-image" src="images/chanar_shondesh.jpg" alt="chanar_shondesh"/>
                    </a>
                    <div class="card-body">
                        <a href="product.html"> 
                            <h1>Chanar Shondesh</h1>
                        </a>
                        <div class="rating">
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>      
                       </div>
                        <div class="price">
                           Price $50.00
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <img class="product-image" src="images/chanar_shondesh.jpg" alt="chanar_shondesh"/>
                    </a>
                    <div class="card-body">
                        <a href="product.html"> 
                            <h1>Chanar Shondesh</h1>
                        </a>
                        <div class="rating">
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>      
                       </div>
                        <div class="price">
                           Price $50.00
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <img class="product-image" src="images/chanar_shondesh.jpg" alt="chanar_shondesh"/>
                    </a>
                    <div class="card-body">
                        <a href="product.html"> 
                            <h1>Chanar Shondesh</h1>
                        </a>
                        <div class="rating">
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star-full-o"></i></span>      
                       </div>
                        <div class="price">
                           Price $50.00
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <img class="product-image" src="images/chanar_shondesh.jpg" alt="chanar_shondesh"/>
                    </a>
                    <div class="card-body">
                        <a href="product.html"> 
                            <h1>Chanar Shondesh</h1>
                        </a>
                        <div class="rating">
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star-half-o"></i></span>      
                       </div>
                        <div class="price">
                           Price $50.00
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <img class="product-image" src="images/chanar_shondesh.jpg" alt="chanar_shondesh"/>
                    </a>
                    <div class="card-body">
                        <a href="product.html"> 
                            <h1>Chanar Shondesh</h1>
                        </a>
                        <div class="rating">
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star"></i></span>
                            <span><i class="fa fa-star-half-o"></i></span>      
                       </div>
                        <div class="price">
                           Price $50.00
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class = "footer">
            All right reserved
        </footer>
    </div>
<script>
    function openMenu(){
       document.querySelector(".sidebar").classList.add("open")
    }
    function closeMenu(){
        document.querySelector(".sidebar").classList.remove("open")
    }
</script>

</body>
</html>